<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="YPBBT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86" />
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.1460.0.59" newVersion="18.1460.0.59" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <YPBBT.Properties.Settings>
      <setting name="DefaultRegion" serializeAs="String">
        <value />
      </setting>
      <setting name="BossSpawnAlarmCheckBox" serializeAs="String">
        <value />
      </setting>
      <setting name="NightTimeAlarmCheckBox" serializeAs="String">
        <value />
      </setting>
      <setting name="ImperialResetCheckBox" serializeAs="String">
        <value />
      </setting>
      <setting name="PlaySoundSetting" serializeAs="String">
        <value />
      </setting>
      <setting name="OverlayTransparency" serializeAs="String">
        <value />
      </setting>
      <setting name="OverlayState" serializeAs="String">
        <value />
      </setting>
      <setting name="NTPlaySoundSetting" serializeAs="String">
        <value />
      </setting>
      <setting name="IRPlaySoundSetting" serializeAs="String">
        <value />
      </setting>
      <setting name="DisplayTimeTableSetting" serializeAs="String">
        <value />
      </setting>
      <setting name="BSA1CM" serializeAs="String">
        <value />
      </setting>
      <setting name="BSA2CM" serializeAs="String">
        <value />
      </setting>
      <setting name="BSA3CM" serializeAs="String">
        <value />
      </setting>
      <setting name="NTA1CM" serializeAs="String">
        <value />
      </setting>
      <setting name="NTA2CM" serializeAs="String">
        <value />
      </setting>
      <setting name="NTA3CM" serializeAs="String">
        <value />
      </setting>
      <setting name="IRA1CM" serializeAs="String">
        <value />
      </setting>
      <setting name="IRA2CM" serializeAs="String">
        <value />
      </setting>
      <setting name="IRA3CM" serializeAs="String">
        <value />
      </setting>
      <setting name="EditSpawnHoursSlider" serializeAs="String">
        <value />
      </setting>
      <setting name="SettingKeepMessages" serializeAs="String">
        <value />
      </setting>
      <setting name="AlarmonhoursCheckbox" serializeAs="String">
        <value />
      </setting>
      <setting name="BRAlarmCheckBox" serializeAs="String">
        <value />
      </setting>
      <setting name="ITRAlarmCheckBox" serializeAs="String">
        <value />
      </setting>
      <setting name="ITRA1CM" serializeAs="String">
        <value />
      </setting>
      <setting name="ITRA2CM" serializeAs="String">
        <value />
      </setting>
      <setting name="ITRA3CM" serializeAs="String">
        <value />
      </setting>
      <setting name="BRA1CM" serializeAs="String">
        <value />
      </setting>
      <setting name="BRA2CM" serializeAs="String">
        <value />
      </setting>
      <setting name="BRA3CM" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedSource" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultRegion1" serializeAs="String">
        <value />
      </setting>
      <setting name="MainColor" serializeAs="String">
        <value />
      </setting>
      <setting name="SubColor" serializeAs="String">
        <value />
      </setting>
      <setting name="HeaderColor" serializeAs="String">
        <value />
      </setting>
      <setting name="OriginBossList" serializeAs="String">
        <value />
      </setting>
      <setting name="AnimatedBackgroundSource" serializeAs="String">
        <value />
      </setting>
      <setting name="AnimatedBackgroundCheckbox" serializeAs="String">
        <value />
      </setting>
      <setting name="BackgroundImageSource" serializeAs="String">
        <value />
      </setting>
      <setting name="BackgroundImageCheckbox" serializeAs="String">
        <value />
      </setting>
      <setting name="BRPlaySoundSetting" serializeAs="String">
        <value />
      </setting>
      <setting name="ITRPlaySoundSetting" serializeAs="String">
        <value />
      </setting>
      <setting name="Overlay_Position" serializeAs="String">
        <value />
      </setting>
      <setting name="High_RenderQuality" serializeAs="String">
        <value />
      </setting>
      <setting name="ScarletMode" serializeAs="String">
        <value />
      </setting>
      <setting name="SelfRolling" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoUpdateTable" serializeAs="String">
        <value />
      </setting>
    </YPBBT.Properties.Settings>
  </userSettings>
</configuration>